{% extends 'startFundraiser/base.html' %}
{% block title %}{{ campaign1.campaign_Title }}{% endblock %}

{% block content %}
<div class="container-fluid" style="">
    <div class="row justify-content-center">
        <div class="col-lg-6" style="align-content: center">
                        {% if campaign1.image %}
                            <img src="{{ campaign1.image.url }}" class="img-responsive" style="width: 100%">
                        {% else %}
                            <h3>{{ campaign1.campaign_Title }}</h3>
                        {% endif %}
        </div>
        <div class="col-lg-4">
                     <h3 style="color: #6c757d">{{ campaign1.campaign_Category }}</h3>
                     <hr>
                     <h1>{{ campaign1.campaign_Title }}</h1>
                     <br>
                     <h5>{{ campaign1.campaign_Tagline }}</h5>
                     <br>
                     <h4 style="color: #6c757d">Campaign Initiator</h4>
                     <h5>{{ campaign1.user }}</h5>
                     <span class="glyphicon glyphicon-map-marker" style="float: left"></span>
                     <h5>{{ campaign1.city }}, {{ campaign1.country }}</h5>
                     <br><br>
                     {% if is_editable %}
                        <span class="glyphicon glyphicon-edit"><a href="{% url 'startFundraiser:campaign_edit' campaign1.id %}">Edit</a></span>&nbsp;
                        <span class="glyphicon glyphicon-trash"><a href="{% url 'startFundraiser:campaign_delete' campaign1.id %}">Delete</a></span>
                     {% endif %}
                     <br><br>
                     <h4 style="color: #6c757d">Goal</h4>
                     <p>&#8377;{{ campaign1.goal }}</p>
                     <br>
                     <p style="color: #6c757d">&#8377;<strong>{{ campaign1.pledged }}</strong> raised by {{ campaign1.people_pledged }} supporters</p>
                     <br><br>
                    <button type="submit" class="btn" style="background-color: #d39e00; font-family: sans-serif">
                        <span class="glyphicon glyphicon-piggy-bank"></span> Support It
                    </button>
        </div>
    </div>
    <br><br><br>
    <div class="row justify-content-center">
           <div class="col-lg-3">
                        {% if campaign1.campaign_Card_Image %}
                            <img src="{{ campaign1.campaign_Card_Image.url }}" class="img-responsive" style="width: 100%">
                        {% endif %}
           </div>
           <div class="col-lg-5">
           <h4 style="color: #6c757d">Campaign Outline</h4><hr>
                     <p>{{ campaign1.overview }}</p>
           </div>
    </div>
    <div class="row justify-content-center">
           <div class="col-lg-8">
           <br><br>
           <h4 style="color: #6c757d">Story</h4><hr>
                     <p>{{ campaign1.story }}</p>
           </div>
    </div>
    <br><br><br>

    <div  class="row justify-content-center">
      <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
      </form>
    </div>

    <div class="row justify-content-center">
                <div class="col-lg-2" id="faqs"><h4 style="color: #6c757d">FAQs({{ campaign1.fAQs_set.count }})</h4></div>

                <div class="col-lg-2" id="comments">
                  <h4 style="color: #6c757d">Comments</h4>
                  {% for comment in comments %}
                    <p>{{ comment.content }}</p>
                    <footer class = "blockquote-footer">by <cite>{{ comment.author }}</cite></footer>

                    {% for reply in comment.replies.all %}
                    <p>{{ reply.content }}</p>
                    <footer class = "blockquote-footer">by <cite>{{ reply.author }}</cite></footer>

                    {% endfor %}
                    <form method="post">
                      {% csrf_token %}
                      <input type="hidden" name="comment_id" value="{{comment.id}}">
                      {{ form }}
                      <input type="submit" value="Submit">
                    </form>
                  {% endfor %}
                </div>

                <div class="col-lg-2" id="updates"><h4 style="color: #6c757d">Updates({{ campaign1.update_set.count }})</h4>
                <br>
                {% if is_editable %}
                    <a class="btn btn-default" href="{% url 'startFundraiser:add_update' campaign1.id %}">New Update</a>
                {% endif %}
                </div>
                <div class="col-lg-2"><h4 style="color: #6c757d">Supporters</h4></div>
    </div>

    <br><br><br>
        <div class="row justify-content-center">

           <div class="col-lg-10">
           <br><br>
            {% if tag %}
                <h4 style="color: #6c757d">Tags</h4><hr>
                {% for ind in tag %}
                     {{ ind }}
                {% endfor %}
            {% endif %}
            <br><br><br>
           </div>
        </div>


    <br><br><br>


<hr>
{% for update in campaign1.update_set.all %}
    <div class="update">
        <div class="date">{{ update.created_date }}</div>
        <strong>{{ campaign1.user }}</strong>
        <p>{{ update.text|safe }}</p>
    </div>
{% empty %}
    <p>No updates! </p>
{% endfor %}



<hr>
{% for faq in campaign1.fAQs_set.all %}
    <div class="update">
        <strong>{{ faq.question }}</strong>
        <p>{{ faq.answer }}</p>
    </div>
{% empty %}
    <p>No faqs! </p>
{% endfor %}


{% endblock %}

</div>
