.header{
  background-color: rgb(80,130,180);
}

.search{
  color:black;
  background-color: white
}

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
     flex: 1 0 auto;
}
